@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

*{
    /* border: 1px dashed red; */
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: black;
    background: linear-gradient(#000046, #1cb5e0); 
}

.search-category:hover{
    cursor: pointer !important;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #000046;
}

.card:hover{
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-carro{
    width: 1.5rem;
    height: auto;
    object-fit: contain;
    z-index: 9;
}
.icon-carro:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
