@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

*{
    /* border: 1px dashed red; */
    font-family: 'Oswald', sans-serif;
}

header, #leftNav, footer{
    background: linear-gradient(to right, #000046, #1cb5e0); 
}

.amount-product{
    font-size: 1.8rem;
}

.search-category:hover{
    cursor: pointer !important;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #000046;
}

.card:hover{
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Icono de carro en carta producto */
.icon-carro{
    width: 1.5rem;
    height: auto;
    object-fit: contain;
    z-index: 9;
}
.icon-carro:hover{
    width: 1.6rem;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

/* Icono de carrito */
.cart-icon{
    width: 3rem;
    height: auto;
    object-fit: contain;
}

#toCartView img:hover{
    box-shadow:  4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    /* border: 1px solid salmon; */
}

@media only screen and (max-width: 634px){
    .card{
        max-width: 30rem;
        width: 75vw !important;
    }
}